= form :action => url(:openid) do
  <!-- optional hidden value used in requesting unprotected OpenID login page scenario -->
  = hidden_field :name => 'postLoginTargetURI', :value => resource(:users)

  %div
    = text_field :id => 'openid_url', :name => 'openid_url', :label => 'OpenID:'

  %div
    = submit 'Log In'
