!!! Strict
%html{ html_attrs("en_us") }
  %head
    %title
      = catch_content(:for_title).blank? ? 'Admin' : catch_content(:for_title)
    %meta{ :content => "text/html; charset=utf-8", "http-equiv" => "content-type" }/
    %link{ :href => "/stylesheets/admin.css", :rel => "stylesheet", :media => "screen", :type => "text/css", :charset => "utf-8" }/
  %body
    - message.each_pair do |k,v|
      %p{ :class => k }
        = v
    = catch_content :for_layout