---
development: &defaults
  adapter:  mysql
  database: hartfordrb_dev
  user:     root
 
test:
  <<:       *defaults
  database: hartfordrb_test
 
production:
  <<:       *defaults
  database: hartfordrb_prod
 
rake:
  <<: *defaults